html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: $font-family;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #222;
  text-align: left;
  background-color: #fff;
}

@for $i from 1 through 9 {
  .mb-#{$i} {
    margin-bottom: $i * 8;
  }
  .mt-#{$i} {
    margin-top: $i * 8;
  }
  .pb-#{$i} {
    padding-bottom: $i * 8;
  }
  .pt-#{$i} {
    padding-top: $i * 8;
  }
}
