// Add color you want
$link_color: #1abc9c;

$black: #222;

$light-black: rgb(49, 48, 48);

$pc-width: 1140px;

$dark-white: hsla(0, 0%, 100%, 0.75);

$font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;
